EXTERNAL_TOMCAT_PORT=8888

DATABASE_NAME=currenciesExchanger
DATABASE_USER=currency
DATABASE_PASSWORD=currencyPassword
DATABASE_POOL_SIZE=10
DATABASE_PROTOCOL=jdbc:postgresql
DATABASE_PORT=5432
DATABASE_SERVER=database
DATABASE_CLASS_DRIVER=org.postgresql.Driver
EXTERNAL_DATABASE_PORT=5432